<footer class="footer">
  <button type="button" name="button" onclick="window.location.href='https://play.google.com/store/audiobooks/details?id=AQAAAEAMOHt4ZM&source=productsearch&utm_source=HA&utm_medium=SEM&utm_campaign=PLA&pcampaignid=MKT-DR-na-us-1000189-Med-hasem-bk-Evergreen-Nov1417-PLA-audiobookspla*AQAAAEAMOHt4ZM&gclid=EAIaIQobChMI0o6Q3p2v3gIVLJPtCh0ssAdcEAYYASABEgK40_D_BwE&gclsrc=aw.ds'">Like this content?</button>
  <h4>Created by Elliot Gagola for Sparta Global</h4>
</footer>
